.navigation {
    background: linear-gradient(to right, #2c3e50, #34495e);
    color: #fff;
    padding: 1rem;
    position: relative;
    z-index: 1;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
 
  .navLinks {
    display: flex;
    align-items: center;
  }
  
  .navLink {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .navLink:hover,
  .navLink:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .linkText {
    margin-left: 0.5rem;
  }
  
  .menuButton {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  .menuButton span {
    font-size: 2rem;
  }
  
  @media (max-width: 768px) {
    .navLinks {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: linear-gradient(to bottom, #2c3e50, #34495e);
      flex-direction: column;
      padding: 1rem;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.3s ease;
    }
  
    .navLinks.open {
      transform: scaleY(1);
    }
  
    .navLink {
      width: 100%;
      padding: 1rem;
      justify-content: flex-start;
    }
  
    .menuButton {
      display: block;
    }
  }